@import "tailwindcss";

html, body {
  margin: 0;
  background-color: #111;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}


/* --- Swiper Theme Color (Pink-500) --- */
.swiper-button-next,
.swiper-button-prev {
  color: #ec4899; /* pink-500 */
  transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #be185d; /* pink-700 */
}

/* Pagination dots */
.swiper-pagination-bullet {
  background: #f9a8d4; /* light pink-300 look */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #ec4899; /* pink-500 */
  opacity: 1;
}
